  @media (max-width: 1029px) {
    .flex{
        display: inline;
    }
    div{
      text-align: center;  
    }
   
    a{
      background-color: black !important; 
      border-radius: 6px !important;
      border: 1px solid darkgoldenrod !important;
      color: darkgoldenrod;
      width: 100% !important;
      text-align: center!important;
      padding-bottom: 5px !important;
      height: 45px;
    }
    li{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    img{ 
        display: inline !important;
    }
    span{
      color: darkgoldenrod !important;
    }
    body{
        text-align: center!important;
    }
    svg{
        width: 15px !important;
        display: inline;
    }
    p{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
  }
  @keyframes opacity-anim {
      from { opacity: 0;  }
      to { opacity: 1; }
    }
    @keyframes card-anim {
      from { margin-top: -10rem; }
      to { margin-top: -8rem; }
    }
      @keyframes top-anim {
      from { margin-top: -4rem; }
      to { margin-top: 0rem; }
    }
    @keyframes down-anim {
      from { margin-bottom: -4rem; }
      to { margin-bottom: 0rem; }
    }
    @keyframes zoom-anim {
    from { transform: scale(0.5);}
      to { transform: scale(1); }
    }
   

    .spin {
        width: 100px;
        height: 100px;
        background: red;
        animation: spin 50s linear infinite;
        animation-delay: calc(var(--delay) * -1s);
      }
      
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
.top-anim {animation:top-anim 6s; }
.card-anim {animation:card-anim 6s; margin-top: -8rem }
.down-anim {animation:down-anim 6s; }
.opacity-anim {animation:opacity-anim 6s; }
.zoom-anim {animation:zoom-anim 6s; }